@page "/account/login/tfa"
@model GoLocal.Identity.Api.Pages.Account.LoginTfa

<form method="post">
    
    <input type="hidden" asp-for="ReturnUrl" />

    <input asp-for="Code" type="number" placeholder="Code"/>

    <button type="submit">Login</button>
</form>