@page "/account/login"
@model GoLocal.Identity.Api.Pages.Account.Login

<form method="post">
    
    <input type="hidden" asp-for="ReturnUrl" />

    <input asp-for="Username" placeholder="Username"/>
    <label ></label>
    <input asp-for="Password" type="password" placeholder="Password"/>

    <button type="submit">Login</button>
</form>