@page "/account/register"
@model GoLocal.Identity.Api.Pages.Account.Register

<form method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="ReturnUrl" />
    
    <input asp-for="Command.Username" type="text" placeholder="Username"/>
    <input asp-for="Command.Email" type="email" placeholder="Email"/>
    <input asp-for="Command.Password" type="password" placeholder="Password"/>
    <input asp-for="Command.PasswordConfirmation" type="password" placeholder="Confirmation"/>

    <button type="submit">Register</button>
</form>