@page "/account/register"
@model GoLocal.Identity.Api.Pages.Account.Register

<form method="post">
    
    <input type="hidden" asp-for="ReturnUrl" />
    
    <input asp-for="Username" type="text" placeholder="Username"/>
    <input asp-for="Email" type="email" placeholder="Email"/>
    <input asp-for="Password" type="password" placeholder="Password"/>
    <input asp-for="PasswordConfirmation" type="password" placeholder="Confirmation"/>

    <button type="submit">Register</button>
</form>