@page "/account/password/reset"
@model GoLocal.Identity.Api.Pages.Account.ResetPassword

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Command.Email" type="email" placeholder="Email">
    <button type="submit"></button>
</form>