@page "/account/password/reset/confirmation"
@model GoLocal.Identity.Api.Pages.Account.ResetPasswordConfirmation

<form method="post">
    <input asp-for="Command.Email" type="email" placeholder="Email">
    <input asp-for="Command.OldPassword" type="password" placeholder="Old password">
    <input asp-for="Command.NewPassword" type="password" placeholder="New password">
    <input asp-for="Command.NewPasswordConfirmation" type="password" placeholder="New password confirmation">
    <button type="submit"></button>
</form>